.vscode/*
!.vscode/launch.json
#!.vscode/settings.json

.idea/

__pycache__/

# ipython notebooks
.ipynb_checkpoints
*.ipynb

venv/

*.ini

.alubot/

# beta test
/ext/beta.py
_test.py

# config secrets
/config.py
