.vscode/*
!.vscode/launch.json
#!.vscode/settings.json

.idea/

__pycache__/

.ipynb_checkpoints
*.ipynb

venv/

*.ini

.logs/
.temp/

/.db_backup
prefixes.json

# beta test
/exts/beta.py
_test.py

# config secrets
/config.py

# Temporary ignore
/exts/template.py
