#git+https://github.com/Rapptz/discord.py#egg=speed
discord.py[speed]==2.1.0
pillow~=9.3.0
emoji==2.2.0
numpy==1.23.5
regex~=2022.1.18
aiohttp~=3.8.1
asyncpraw==7.6.1
tweepy[async]==4.12.1
# webpreview~=1.7.2 todo: get rid of these packages
# lxml~=4.9.1
steam~=1.4.4
protobuf~=3.20.1
dota2~=1.1.0
python-dotenv~=0.21.0
vdf~=3.3
pyot~=6.0.5
git+https://github.com/meraki-analytics/role-identification.git
beautifulsoup4~=4.11.1
urllib3~=1.26.9
# wordcloud~=1.8.2.2
jishaku~=2.5.1
matplotlib~=3.6.2
PyGithub==1.57
gtts~=2.3.0
ffmpeg
async-google-trans-new==1.4.6
unidiff~=0.7.4
psutil==5.9.4
parsedatetime~=2.6
python-dateutil~=2.8.2
dateparser==1.1.4
asyncpg~=0.27.0
pandas~=1.5.1
asyncprawcore~=2.3.0
click~=8.1.3
twitchio~=2.5.0